* {
  box-sizing: border-box;
  background-color: aliceblue;
  font-family: "Arimo", sans-serif;
  margin: 0 0;
  border: 1px black solid;
}
html {
  font-size: 62.5%;
}

header {
  display: flex;
  width: -webkit-fill-available;
  border-width: 1px;
  border-color: black;
  padding: 1rem;
  border-style: solid;
  background-color: darkslategray;
  justify-content: space-between;
  height: inherit;
}
main {
  padding-top: 4rem;
}
.navbar {
  background-color: darkslategray;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.navlist {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: darkslategrey;
  align-content: flex-end;
  font-size: 2rem;
  padding: 3rem;
  padding-bottom: 3rem;
  color: whitesmoke;
}

h1 {
  background-color: darkslategray;
  color: mintcream;
  font-size: 4rem;
  padding: 2rem 1.5rem;
}

h2 {
  font-size: 2.5rem;
  margin-left: 13.5rem;
}
.about p {
  margin-left: 20.5rem;
  font-size: 1.5rem;
  display: inline-flex;
  flex-direction: row;
  padding: 2rem;
}
